@model Movies.Models.ViewModels.OrderListVM
@{
    ViewData["Title"] = "Order List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<div class="container">
    <hr />
    <h3 class="text-center">Order List</h3>
    @*<a asp-controller="Movie" class="btn btn-info float-right m-3" asp-action="Upsert">Create New</a>*@
    <hr /> 
    @if (Model.Orders.Any())
    {
        <table id="orders" class=" table table-bordered" width="100%">
            <thead>
                <tr>
                    <th></th>

                    <th>Title</th>
                    <th>Buyer</th>
                    <th>Amount</th>

                    <th>Created</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var ord in Model.Orders)
                {
                <tr>
                    <td><img style="width:100px;height:70px" src="/images/@ord.Movie.ImagePath" /></td>
                    @*<td>@ord.Genre</td>*@
                    <td>
                    @ord.Movie.Title</td>
                    <td>@ord.User.Email</td>
                    <td>$@ord.Amount</td>
                    <td>@ord.Created</td>


                </tr>
                }
                

            </tbody>
        </table>
    }
        else
        {
            <h5 class="text-center">No Data has been found</h5>
        }
    </div>




